<mat-accordion>
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                About
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            Dedicated Software Development Director with over 18 years of progressive information technology experience, 10 of them in managerial positions. Background includes leading large/small teams of technical professionals, creating and improving project management strategies, cultivating customer relationships and improving team and project performance. Strong communicator, able to find the proper communication approach to executive or subordinate. 
            </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Skills & Knowledge </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div layout="column">
                    <div flex="">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Large/small IT team management </p>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Software product development and promotion </p>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Project Management </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div flex="50">
                            <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Strategy development </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Business requirement creation </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Staff training and instructing </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Excellent communication skills </p>
                                    </mat-list-item>
                                </mat-list>
                    </div>
                </div>
            
    </mat-expansion-panel>
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Professional Experience
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Jaggaer
                </mat-panel-title>
                <mat-panel-description>
                        February 2018 – July 2019 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item> Managed the P2P Puridiom Product line for one of the largest Purchasing Software companies. </mat-list-item>
                <mat-list-item> Managed the ongoing support of 30 clients with 50 to 2000 users per system.</mat-list-item>
                <mat-list-item> Monitor Customer reported issues, application, database servers to meet SLAs.</mat-list-item>
                <mat-list-item> Create business requirements, technical and quality assurance specifications while establishing process controls for projects.</mat-list-item>
                <mat-list-item> Carry out risk analysis and change management; reduce project risks by formulating contingency plans.</mat-list-item>
                <mat-list-item> Negotiate win-win resolutions on conflicting priorities by aligning stakeholder needs, clients, company strategy, roadmap and funding options.</mat-list-item>
                <mat-list-item> Streamlined defect management by implementing an agile project methodology resulting in faster resolution times and reduced team size.</mat-list-item>
                <mat-list-item> Leading the team to implement a Continuous Delivery process from our SVN repository, with Jenkins and deployment to Dev, UAT and Production. </mat-list-item>
                <mat-list-item> Reducing deployment times from 20 hours to under 4 hours (depending on VPN connection). </mat-list-item>
                <mat-list-item> Lead(and coded) the effort to integrate Aceproject and Elementool ticketing systems into Microsoft Flow for on time and effective communication of tickets to development and support teams.</mat-list-item>
                <mat-list-item> Development was aware of their tasks. Management had a quick glance of what was going on and support knew quickly when tasks were assigned, worked and deployed.</mat-list-item>
                <mat-list-item> Responsible to make sure that client’s needs/requirements and product goals were clearly defined to the team. Translating business requirements, use cases, bug issues into specific actions or changes to architecture needed</mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-accordion>