<mat-accordion class="example-headers-align" multi="true">
    <mat-expansion-panel expanded id="aboutPanel">
        <mat-expansion-panel-header>
            <mat-panel-title><mat-icon>account_circle</mat-icon> <span class="sectionTitle">About</span>  </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        Dedicated Software Development Director with over 18 years of progressive information technology experience, 10 of them in managerial positions. Background includes leading large/small teams of technical professionals, creating and improving project management strategies, cultivating customer relationships and improving team and project performance. Strong communicator, able to find the proper communication approach to executive or subordinate. 
    </mat-expansion-panel>
    <mat-expansion-panel id="skillsPanel">
        <mat-expansion-panel-header>
            <mat-panel-title><mat-icon>build</mat-icon> <span class="sectionTitle">Skills & Knowledge</span> </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <div layout="column">
                    <div flex="">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Large/small IT team management </p>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Software product development and promotion </p>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>done</mat-icon>
                                <p mat-line> Project Management </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div flex="50">
                            <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Strategy development </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Business requirement creation </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Staff training and instructing </p>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>done</mat-icon>
                                        <p mat-line> Excellent communication skills </p>
                                    </mat-list-item>
                                </mat-list>
                    </div>
                </div>
            
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" id="Professional Experience">
        <mat-expansion-panel-header>
            <mat-panel-title> <mat-icon>accessibility_new</mat-icon>  <span class="sectionTitle"> Professional Experience </span> </mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-expansion-panel id="Jaggaer">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Jaggaer
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        February 2018 – July 2019 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item class="listItem"> Managed the P2P Puridiom Product line for one of the largest Purchasing Software companies. </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Managed the ongoing support of 30 clients with 50 to 2000 users per system.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Monitor Customer reported issues, application, database servers to meet SLAs.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Create business requirements, technical and quality assurance specifications while establishing process controls for projects.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Carry out risk analysis and change management; reduce project risks by formulating contingency plans.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Negotiate win-win resolutions on conflicting priorities by aligning stakeholder needs, clients, company strategy, roadmap and funding options.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Streamlined defect management by implementing an agile project methodology resulting in faster resolution times and reduced team size.</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="listItem"> Leading the team to implement a Continuous Delivery process from our SVN repository, with Jenkins and deployment to Dev, UAT and Production. </mat-list-item>
                <mat-list-item class="listItem"> Reducing deployment times from 20 hours to under 4 hours (depending on VPN connection). </mat-list-item><mat-divider></mat-divider>
                <mat-list-item class="listItem"> Lead(and coded) the effort to integrate Aceproject and Elementool ticketing systems into Microsoft Flow for on time and effective communication of tickets to development and support teams.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item class="listItem"> Development was aware of their tasks. Management had a quick glance of what was going on and support knew quickly when tasks were assigned, worked and deployed.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item class="listItem"> Responsible to make sure that client’s needs/requirements and product goals were clearly defined to the team. Translating business requirements, use cases, bug issues into specific actions or changes to architecture needed</mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        Bravosolution
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        August 2016 – February 2018 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item> Led development department for the Puridiom Product Line. </mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Create, grew, a team of 4 to 30 resources (onshore and offshore)</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Lead project to complete the update to the look&feel of the Puridiom line to the BA product. Project was delivered in 8 months under the expected delivery time and below budget.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Lead team to deliver 2 new versions of the product integrating with external services and parent company products.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Administered monthly and annual reviews to direct reports, setting clear and measurable goals, action plans and follow-up procedures to help team members grow both professionally and personally.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Identified and corrected team members deficient performance and behaviors helping achieve maximum productivity. Ensuring the correct teams were assigned to the right projects and tasks.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Created business requirements, technical and quality assurance specifications while establishing process controls for projects.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Negotiate win-win resolutions on conflicting priorities by aligning stakeholder needs, clients, company strategy, roadmap and funding options.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Created and grew development team from 4 resources to 30 resources, Developers, Operations, Designers, Quality Assurance.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item> Company was acquired by Jaggaer</mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        Technical Services Associates Inc. DBA Puridiom
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        February 2014 – August 2016 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item> 
                        Oversaw and coordinated technology direction and strategy, process and quality improvement to deliver the next version of the Puridiom product line. </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>Set IT corporate standards (development, deployment and quality verification), project planning and management, budgeting and customer relationship management.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>        Directed IT team in the design, development, deployment and support of all versions of the Puridiom software line. </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>        Worked with leadership to manage roadmap, product feature priorities. Worked with development team to solve any roadblocks.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>        Hired, trained and mentored a team of up to 10 developers, designers and quality assurance engineers. </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>      Partnered with local universities and programs to look for potential new hires, interns.</mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        IBM
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        June 2013 – February 2014
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>                    
                <mat-list-item>     Provided SAP support on existing implementation, gathered requirements from functional business owners.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Assessed business and application requirements. Designed robust business processes considering accepted industry practices. Drove development of functional and systems specifications for enhancements and maintained necessary documentation. Actively performed knowledge transfer to client team members.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Responsible for the installation of SAP Fiori POC system at the IBM LSS center. Managed 3 offshore resources, Functional, ABAP and Mobile developers. Responsible to ensure that application was accessible from inside and outside IBM infrastructure meeting all IBM’s security requirements. </mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        Computer Sciences Corporation / DXC
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        May 2007 – June 2013
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>                    
                <mat-list-item>     Defined CSC’s mobility offering which had grown out of a successful consulting, hardware and cloud services practice.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Cultivated 3rd party relationships for multiple purposes including resource staffing, pipeline development, offering expansion and market visibility</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Assisted the sales team with RFP creation and pre-sales activities via client visits, conference calls and creation of documentation, presentations and collateral. </mat-list-item>
            </mat-list> 
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        Technical Services Associates Inc. DBA Puridiom
                </mat-panel-title>
                <mat-panel-description class="descriptionRight">
                        April 199 – April 2007
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>                    
                <mat-list-item>     Defined CSC’s mobility offering which had grown out of a successful consulting, hardware and cloud services practice.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Established the foundation for the offshore team that would support all development efforts for the company. Trained both associated and consultants that would eventually become the project leads.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Create messaging application using email API for notification. (Java Mail API 1.3) </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Created a reporting system which delivers custom reports in different formats and allows users to schedule a specific delivery time and frequency. </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Design, create and maintain web applications (Java, JSP, JavaScript, HTML, DHTML). </mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Develop and maintain internal and Client Databases, supporting SQLServer, Oracle, MySql.</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>     Develop and maintain existing purchasing application developed with PowerBuilder troubleshooting any problems that may appear and developing enhancements to client specifications. (PowerBuilder 5.x – 9).</mat-list-item>    
            </mat-list> 
        </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel id="education">
        <mat-expansion-panel-header>
            <mat-panel-title><mat-icon>book</mat-icon>  <span class="sectionTitle">Education</span> </mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>                    
            <mat-list-item>
                <mat-icon matListIcon>home</mat-icon>
                <h3 matLine>Universidad Nacional San Agustin Arequipa</h3>
                <p matLine>BS Business</p>
                <p matLine>1993 - 1997</p>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel id="languages">
        <mat-expansion-panel-header>
            <mat-panel-title> <mat-icon>sms</mat-icon>  <span class="sectionTitle"> Languages </span> </mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>                    
            <mat-list-item>Spanish - First Language</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    
</mat-accordion>