<!--The content below is only a placeholder and can be replaced.-->

<router-outlet>
        
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon >
            </button>
            <h1>{{title}}</h1>
            <span class="menu-spacer"></span>
            <div>
            <a mat-button [routerLink]="'/dashboard'"> Email Me </a>
            <a mat-button [routerLink]="'/heroes'"> <mat-icon>local_printshop</mat-icon> Print </a>
            
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</router-outlet>
